.Product {
  font-family: Amazon Ember, Arial, sans-serif;
  color: #0f1111;
  overflow: hidden;
}

#upper-product-bar {
  width: 100%;
  height: 33px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background: #fafafa;
  display: flex;
  align-items: center;
}

.upper-product-bar-link {
  color: #333;
  font-size: 12px;
  line-height: 33px;
  padding-right: 15px;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  text-indent: 10px;
}

#upper-product-bar-link-1 {
  margin-left: 10px;
  font-weight: 700;
}

.upper-product-bar-link:hover {
  color: #d45704;
  border-bottom: 2px solid #d45704;
}

#product-breadcrumb {
  display: flex;
  height: 14px;
  width: 100%;
  align-items: center;
  color: #595959;
  line-height: 14px;
  font-size: 12px;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#product-breadcrumb a {
  margin-right: 3px;
  margin-left: 3px;
}

#product-breadcrumb a:hover {
  cursor: pointer;
  text-decoration: underline;
}

#top-product-UI {
  width: 100%;
  height: 1074px;
  display: flex;
}

.top-product-UI-left-col {
  margin-top: 10px;
  margin-left: 20px;
  width: 260px;
  height: 606px;
  margin-right: 50px;
}

.top-product-UI-center-col {
  width: 774px;
  height: 1031px;
  margin-right: 40px;
}

.top-product-UI-right-col {
  display: block;
  width: 270px;
  height: 1142px;
}

#look-inside-img {
  float: right;
  display: block;
}

#product-2-main-image {
  max-width: 231px;
  max-height: 346px;
  float: right;
  cursor: pointer;
}

#product-small-img-wrapper {
  margin-top: 50px;
  display: inline-block;
}

#product-small-img-wrapper img {
  margin-left: 10px;
  cursor: pointer;
}

#small-img-wrapper-modal-link {
  display: block;
  font-size: 14px;
  color: #007185;
  margin-left: 10px;
}

#small-img-wrapper-modal-link:hover {
  cursor: pointer;
  color: #d45704;
}

#small-img-wrapper-bottom-divider {
  box-sizing: border-box;
  background-color: transparent;
  height: 1px;
  width: 260px;
  margin-left: 10px;
  border: 0;
  border-top: 1px solid #e7e7e7;
  display: block;
}

/*Col 2*/

.top-product-UI-center-col #product-title {
  font-size: 28px;
  line-height: 36px;
  text-rendering: optimizeLegibility;
  font-weight: 400;
  margin-top: 0px;
  margin-bottom: 0px;
}

.top-product-UI-center-col #product-subtitle {
  color: #595959;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  margin-top: 0px;
  margin-bottom: 0px;
}

#byline-info {
  font-size: 14px;
}

#byline-link {
  color: #007185;
}

#byline-link:hover{
    color: #d45704;
    text-decoration: underline;
    cursor: pointer;
}

#byline-description {
  color: #595959;
  margin-left: 5px;
  font-weight: 500;
}

.Product .review-count {
  margin-left: 30px;
  cursor: pointer;
}

.bestseller-badge-wrapper {
  display: block;
  height: 18px;
  margin-top: 15px;
}

.bestseller-badge-icon {
  display: inline-block;
  height: 18px;
  width: 85px;
  background-color: #c45500;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  text-align: center;
  color: #fff;
  cursor: pointer;
}

.bestseller-badge-icon::before {
  content: " ";
  position: absolute;
  width: 12px;
  height: 0px;
  margin-left: 62px;
  border-color: rgba(255, 255, 255, 0);
  border-right-width: 6px;
  border-left-width: 6px;
  border-bottom-width: 6px;
  border-top-width: 0px;
  border-bottom-color: #c45500 !important;
  border-right-style: dashed;
  border-left-style: dashed;
  transform: rotate(180deg);
  border-bottom-style: solid;
}

.bestseller-badge-icon::after {
  content: " ";
  position: absolute;
  width: 12px;
  height: 0px;
  margin-top: 12px;
  margin-left: -13px;
  border-color: rgba(255, 255, 255, 0);
  border-right-width: 6px;
  border-left-width: 6px;
  border-bottom-width: 6px;
  border-top-width: 0px;
  border-bottom-color: #c45500 !important;
  border-right-style: dashed;
  border-left-style: dashed;
  border-bottom-style: solid;
}

.bestseller-badge-link {
  display: inline-block;
  position: absolute;
  font-size: 14px;
  color: #007185;
  margin-top: 3px;
  margin-left: 15px;
}

.bestseller-badge-link:hover {
  cursor: pointer;
  color: #d45704;
  text-decoration: underline;
}

.top-product-UI-bottom-divider {
  width: 774px;
  height: 1px;
  border: 0;
  border-top: 1px solid #e7e7e7;
  margin-top: 15px;
}

#top-product-show-editions-dropdown {
  font-size: 12px;
  color: #007185;
  margin-top: 10px;
}

.product-version-wrapper {
  display: flex;
}

.product-version-button {
  width: 152px;
  height: 49px;
  border: 1px solid;
  border-top-color: rgb(173, 177, 184);
  border-bottom-color: rgb(141, 144, 150);
  border-left-color: rgb(162, 166, 172);
  border-right-color: rgb(162, 166, 172);
  margin-top: 10px;
  border-radius: 3px;
  background: #fff;
  margin-right: 10px;
}

.product-version-button:hover {
  cursor: pointer;
  background-color: #eaecee;
}

.product-version-button:hover #kindle-edition-price {
  color: #b12704;
}

.product-edition-text {
  font-size: 13px;
  margin-left: 10px;
  margin-top: 20px;
  color: #0f1111;
}

.product-edition-price {
  display: block;
  margin-left: 10px;
  font-weight: 500;
  color: #565959;
  font-size: 14px;
  line-height: 20px;
}

#paperback-edition-button{
    border-color: #e77600;
    background-color: #fef8f2;
}


.product-version-subcard-wrapper{
    display: flex;
    margin-top: 5px;
}

.product-version-subcard-header{
    display: block;
    font-size: 12px;
    line-height: 16px;
    color: #007185;
    margin-right: 33px;
}

.product-version-subcard-header:hover{
    cursor: pointer;
    color: #e77600;
    text-decoration: underline;
}

#free-app-bold{
    color: #b12704;
    font-weight: 700;
}

.from-text{
    color: #595959;
}

#paperback-edition-text {
  margin-top: 3px;
  display: block;
  font-weight: 700;
}

#paperback-edition-price {
  display: inline-block;
  color: #b12704;
  font-weight: 700;
}

#prime-version-button-logo {
  display: inline-block;
  width: 35px;
  height: 10px;
  background-image: url("amazon-prime-sprite-map.png");
  background-position: -84px -2px;
}

.main-product-wrapper{
    margin-top: 20px;
}

.main-product-description{
    color: #333;
    text-rendering: optimizeLegibility;
    font-size: 14px;
    width: 650px;
    line-height: 22px;
}

.main-product-description-subheader{
    display: block;
    font-weight: 700;
    margin-top: 20px;
}

.Product .wrap-collapsible{
    margin-top: 20px;
    font-size: 13px;
}

.Product #collapsible {
    display: none;
  }

.Product .lbl-toggle{
    display: block;
    cursor: pointer;
    color: #007185;
    
}
.Product .lbl-toggle:hover{
    text-decoration: underline;
    text-decoration-color: #c7511f;
    color: #c7511f;
}

.Product .read-more-collapsible-content {
    max-height: 0px;
    overflow: hidden;
    transition: max-height .25s ease-in-out;
  }

 .Product .lbl-toggle::before {
    content: ' ';
    display: inline-block;
  
    border-left: 5px solid #0f1111;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
  
    vertical-align: middle;
    margin-right: .7rem;
    transform: translateY(-2px);
    transition: transform .2s ease-out;
  }

.Product .checkbox-wrapper{
      display: flex;
  }

.Product .toggle:checked + .lbl-toggle + .read-more-collapsible-content {
    min-height: 500px !important;
    margin-bottom: -10px;
  }


 .Product .toggle:checked + .lbl-toggle::before {
    transform: rotate(90deg) translateX(-3px);
  }

.Product .toggle:checked + .lbl-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

.Product .read-more-wrap-collapsible{
    margin-top: 10px;
    margin-left: 0px;
    font-size: 13px;
}

#dropdown-selector-icon{
    position: absolute;
    margin-top: 5px;
    transform: rotate(90deg);
    display: inline-block;
    width: 7px;
    height: 7px;
    opacity: .6;
    background-image: url('./amazon-sprite-map.png');
    background-position: -366px -86px;
}

#read-more-collapsible-label{
    color: #007185;
}

#read-more-collapsible-label:hover{
    color: #c7511f;
}

.Product #read-more-collapsible {
    display: none;
  }

.Product .lbl-toggle{
    display:block;
    cursor: pointer;
    color: #007185;
    
}
.Product .lbl-toggle:hover{
    text-decoration: underline;
    text-decoration-color: #c7511f;
    color: #c7511f;
}

.Product .read-more-collapsible-content {
    max-height: 0px;
    overflow: hidden;
    transition: max-height .25s ease-in-out;
    list-style: none;
    color: #333;
    text-rendering: optimizeLegibility;
    font-size: 14px;
    width: 650px;
    line-height: 22px;
  }

 .Product .lbl-toggle::before {
    content: ' ';
    display: inline-block;
  
    border-left: 5px solid #0f1111;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
  
    vertical-align: middle;
    margin-right: .7rem;
    transform: translateY(-2px);
  
    transition: transform .2s ease-out;
  }

.Product .checkbox-wrapper{
      display: flex;
  }

.Product .toggle:checked + .lbl-toggle + .read-more-collapsible-content {
    min-height: 440px;
    margin-bottom: -10px;
  }

#read-more-collapsible-list{
    list-style: none;
    text-indent: -40px;
    line-height: 22px;
    font-size: 14px;
}

#read-more-collapsible-list-header{
    font-weight: 700;
}

#read-more-collapsible-top-content{
    margin-top: -10px;
    font-size: 14px;
}

.expanded-product-description-dropdown{
    display: none;
}

#report-incorrect-product-info{
    display: block;
    margin-top: 15px;
    font-size: 14px;
    color: #007185;
}

#report-incorrect-product-info:hover{
    cursor: pointer;
    color: #c7511f;
    text-decoration: underline;
    text-decoration-color: #c7511f;
}

#report-incorrect-product-info-icon{
    display: inline-block;
    width: 13px;
    height: 11px;
    margin-right: 5px;
    background-image: url('./product-info-sprite.png');
    background-position: 0 0;
}

#report-incorrect-product-info:hover #report-incorrect-product-info-icon{
    background-position: 14px 0px;
}


/*Col 3*/

.buy-box {
  width: 270px;
  height: 664px;
  border-radius: 4px;
  box-shadow: 0 0 0 4px rgb(0, 0, 0, 0.1);
  box-sizing: border-box;
  display: flex;
}

#buy-box-inner-content-wrapper {
  padding: 14px 18px;
  width: 100%;
  height: 100%;
}

#buy-box-buy-new {
  font-size: 14px;
  font-weight: 700;
}

#buy-box-row-1 {
  display: flex;
  width: 100%;
}

#buy-new-price {
  color: #b12704;
  font-size: 18px;
  line-height: 24px;
  width: 74%;
  text-align: right;
}

#buy-box-row-2 {
  color: #565959;
  font-size: 14px;
  line-height: 20px;
  text-align: right;
  font-weight: 500;
}

#buy-box-row-3 {
  width: 100%;
  height: 20px;
}

#buy-box-original-price {
  text-decoration: line-through;
  margin-right: 5px;
}

#buy-box-price-details-link {
  color: #007185;
}

#buy-box-price-details-link:hover {
  text-decoration: underline;
  color: #d45704;
  cursor: pointer;
}

#buy-box-savings {
  color: #565959;
  font-size: 14px;
  line-height: 20px;
  float: right;
  font-weight: 500;
}

#buy-box-prime-icon {
  display: inline-block;
  width: 53px;
  height: 15px;
  background-image: url("./amazon-prime-sprite-map.png");
  background-position: -170px -137px;
}

#buy-box-row-4 {
  display: block;
  width: 100%;
}

.Product .free-returns-collapsible-wrapper {
  margin-top: 5px;
  font-size: 13px;
  box-sizing: border-box;
}

.Product #free-returns-collapsible {
  display: none;
}

.Product .lbl-toggle {
  display: block;
  cursor: pointer;
  color: #333;
  font-size: 14px;
  width: 300px;
  line-height: 20px;
}

.Product .lbl-toggle:hover {
  text-decoration: underline;
  text-decoration-color: #c7511f;
  color: #c7511f;
}

.Product .free-returns-collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.25s ease-in-out;
}

.Product .lbl-toggle::before {
  display: inline-block;
  vertical-align: middle;
  border: none;
  margin-right: 0.7rem;
  transform: translateY(-2px);
  transition: transform 0.2s ease-out;
}

.Product .free-returns-collapsible-wrapper {
  min-width: 350px;
}

.Product .checkbox-wrapper {
  display: flex;
}

.Product .toggle:checked + .lbl-toggle + .free-returns-collapsible-content {
  min-height: 90px;
}

.Product #free-returns-collapsible-label {
  font-weight: 700;
  min-width: 350px;
}

.Product .toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.Product #place-order-free-returns-tooltip {
  font-size: 14px;
}

.Product #learn-more-link {
  margin-top: 5px;
  font-size: 14px;
  margin-left: 15px;
}

.Product #free-returns-collapsible-label {
  font-size: 14px;
  font-weight: 400;
  margin-left: 15px;
  color: #007185;
}

.Product #free-returns-collapsible-label:hover {
  text-decoration: underline;
  text-decoration-color: #c7511f;
  color: #c7511f;
}

#buy-box-row-6{
    font-size: 14px;
    line-height: 20px;
    margin-top: 15px;
}

#buy-box-delivery-date{
    font-weight: 700;
}

#buy-box-row-7{
    font-size: 14px;
    color: #007185;
}

#buy-box-row-7:hover{
    text-decoration: underline;
    text-decoration-color: #c7511f;
    color: #c7511f;
    cursor: pointer;
}

#buy-box-row-8{
    color: #007600;
    font-size: 18px;
    line-height: 24px;
    margin-top: 22px;
    text-rendering: optimizeLegibility;
}

#buy-box-row-9{
    font-size: 14px;
    line-height: 20px;
    color: #0F1111;
}

#kindle-ebook-upsell-link{
    color: #007185;
}

#kindle-ebook-upsell-link:hover{
    text-decoration: underline;
    text-decoration-color: #c7511f;
    color: #c7511f;
    cursor: pointer; 
}

#buy-box-row-10{
    margin-top: 10px;
}

.Product #place-order-button{
    margin-top: 25px;
    width: 230px;
    height: 31px;
    margin-left: 0px;
    border-radius: 19px;
    font-size: 14px;
}

.Product #place-order-button:hover{
    background: #F7CA00;
}

.Product #buy-now-button{
    border-radius: 20px;
    cursor: pointer;
    height: 31px;
    justify-content: center;
    line-height: 19px;
    margin-right: auto;
    margin-top: 15px;
    width: 230px;
    text-align: center;
    background: #FFA41C;
    color: #565959;
    border-color: #FF8F00;
    border-style: solid;
    border-width: 1px;
    color: #0F1111;
    font-size: 14px;
    line-height: 20px;
    font-family: Amazon Ember, Arial;
}

.Product #buy-now-button:hover{
    background: #FA8900;
    border-color: #FA8900;

}

#buy-box-row-13{
    margin-top: 15px;
    display: flex;
}

#buy-box-secured-ssl-icon{
    width: 11.42px;
    height: 15px;
    margin-top: 2px;
    transform: translateY(2px);
}

#buy-box-secure-transaction-link{
    display: inline-block;
    font-size: 14px;
    color: #007185;
    margin-left: 15px;
}

#secured-ssl-wrapper:hover #buy-box-secure-transaction-link{
    text-decoration: underline;
    text-decoration-color: #c7511f;
    color: #c7511f;
    cursor: pointer;
}

#secured-ssl-wrapper:hover{
    cursor: pointer;
}

#buy-box-row-14{
    margin-top: 10px;
}

#buy-box-ships-from{
    font-size: 12px;
    color: #565959;
    margin-right: 10px;
}

#buy-box-sold-by{
    font-size: 12px;
    color: #565959;
    margin-right: 28px;
}

.buy-box-amazon-subheader{
    font-size: 12px;
    color: #0f1111;
}

#gift-receipt-checkbox{
    margin-top: 15px;
    display: inline-block;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 2px;
    margin-left: 0px;
}

#gift-receipt-checkbox-label{
    font-size: 14px;
    line-height: 20px;
    margin-left: 5px;
}

#gift-receipt-returns{
    font-size: 14px;
    line-height: 20px;
    margin-left: 20px;
}

.buy-box-bottom-divider{
    box-sizing: border-box;
    background-color: transparent;
    height: 1px;
    width: 232px;
    border: 0;
    border-top: 1px solid #e7e7e7;
    display: block;
}

#buy-box-delivery-address{
    font-size: 12px;
    margin-left: 5px;
    color: #007185;
}

#location-pin{
    transform: translateY(3px);
}

#buy-box-delivery-address:hover{
    color: #c7511f;
    cursor: pointer;
}